<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <parameter key="rabble_snippet.persistence.hydrator.default_snippets.class">Rabble\SnippetBundle\Persistence\DefaultSnippetsHydrator</parameter>
    </parameters>
    <services>
        <service id="rabble_snippet.persistence.hydrator.default_snippets" class="%rabble_snippet.persistence.hydrator.default_snippets.class%">
            <tag name="rabble_content.document_hydrator" />
        </service>
    </services>
</container>
